{{ define "content" }}
<div class="page-header">
    <h2>{{ .Title }}</h2>
</div>
{{ template "message" . }}
<form action="/config/" class="form-horizontal" method="POST">
   <div class="form-group">
      {{if eq .Lang 0}}
      <label for="inputConfigurationName" class="control-label col-sm-3">Configuration Name</label>
      {{else if eq .Lang 1}}
      <label for="inputConfigurationName" class="control-label col-sm-3">Nombre de la Configuración </label>
      {{end}}
      <div class="col-sm-6">

         {{if eq .Lang 0}}
         <input type="text" class="form-control" id="inputConfigurationName" name="ConfigurationName" placeholder="Intro a name for the experiment, without spaces">
         {{else if eq .Lang 1}}
         <input type="text" class="form-control" id="inputConfigurationName" name="ConfigurationName" placeholder="Introduce un nombre para el expemiento, sin espacios">
         {{end}}
      </div>
   </div>
   <div class="form-group"> <!--Base-->
      {{if eq .Lang 0}}
      <label class="control-label col-sm-3">Base Sensors</label>
      {{else if eq .Lang 1}}
      <label class="control-label col-sm-3">Sensores en la Base</label>
      {{end}}
      <div class="col-sm-2">
         <label class="checkbox-inline">
            <input type="checkbox" name="SetTrackerA" value="on" checked>Tracker A
         </label>
      </div>
   </div>
   <div class="form-group"> <!--Base-->
      <div class="col-sm-offset-3 col-sm-2">
         <label class="checkbox-inline">
            <input type="checkbox" name="SetTrackerB" value="on" checked>Tracker B
         </label>
      </div>
   </div>
   <div class="form-group"> <!--Base-->
      <div class="col-sm-offset-3 col-sm-2">
         <label class="checkbox-inline">
            <input type="checkbox" name="SetTrackerC" value="on" checked>Tracker C
         </label>
      </div>
   </div>
   <div class="form-group"> <!--Base-->
      <div class="col-sm-offset-3 col-sm-2">
         <label class="checkbox-inline">
            <input type="checkbox" name="SetTrackerD" value="on" checked>Tracker D
         </label>
      </div>
   </div>
   <div class="form-group"> <!--Mobile-->
      {{if eq .Lang 0}}
      <label class="control-label col-sm-3">Mobile Sensors</label>
      {{else if eq .Lang 1}}
      <label class="control-label col-sm-3">Sensores Móviles</label>
      {{end}}
      <div class="col-sm-2">
         <label class="checkbox-inline">
            <input type="checkbox" name="SetTrackerM" value="on" checked>Tracker M
         </label>
      </div>
   </div>
   <div class="form-group"> <!--Mobile-->
      <div class="col-sm-offset-3 col-sm-2">
         <label class="checkbox-inline">
            {{if eq .Lang 0}}
            <input type="checkbox" name="SetDistance" value="on" checked>Distance
            {{else if eq .Lang 1}}
            <input type="checkbox" name="SetDistance" value="on" checked>Distancia
            {{end}}
         </label>
      </div>
   </div>
   <div class="form-group"> <!--Base-->
      <div class="col-sm-offset-3 col-sm-2">
         <label class="checkbox-inline">
            {{if eq .Lang 0}}
            <input type="checkbox" name="SetAccelerometer" value="on" checked>Accelerometer
            {{else if eq .Lang 1}}
            <input type="checkbox" name="SetAccelerometer" value="on" checked>Acelerómetro
            {{end}}
         </label>
      </div>
   </div>
   <div class="form-group"> <!--Base-->
      <div class="col-sm-offset-3 col-sm-2">
         <label class="checkbox-inline">
            {{if eq .Lang 0}}
            <input type="checkbox" name="SetGyroscope" value="on" checked>Gyroscope
            {{else if eq .Lang 1}}
            <input type="checkbox" name="SetGyroscope" value="on" checked>Giróscopo
            {{end}}
         </label>
      </div>
   </div>
   {{if eq .Lang 0}}
   <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
         <input type="submit" class="btn btn-primary" value="Config">
         <input type="reset" class="btn btn-default" value="Reset">
      </div>
   </div>
   {{else if eq .Lang 1}}
   <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
         <input type="submit" class="btn btn-primary" value="Configurar">
         <input type="reset" class="btn btn-default" value="Deshacer">
      </div>
   </div>
   {{end}}
</form>
<hr>
  {{if eq .Lang 0}}
  <ul>
     <li><a href="/test/">Test the sensors of the platform.</a></li>
     <li><a href="/run/">Run the experiment.</a></li>
  </ul>
  {{else if eq .Lang 1}}
  <ul>
     <li><a href="/test/">Comprobar los sensores de la plataforma.</a></li>
     <li><a href="/run/">Ejecutar el experimento.</a></li>
  </ul>
  {{end}}

{{ end }}
