{{ define "content" }}
  <div class="page-header">
    <h2>{{ .Title }}</h2>
  </div>
  {{if eq .Lang 0 }}
  <p>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean facilisis mi massa, malesuada ullamcorper lorem euismod quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ex dui, pellentesque vitae turpis ut, tempor fringilla arcu. Duis metus ligula, eleifend in felis non, sagittis molestie diam. Morbi varius finibus nisl ut tempor. Sed malesuada tortor at sem malesuada blandit. Donec sollicitudin purus eros, ut facilisis nisl ullamcorper et. Pellentesque id urna luctus, fermentum mi non, luctus urna. Mauris quis hendrerit nulla. Sed aliquam erat nisi, id accumsan eros imperdiet et. Sed ut odio at arcu viverra consequat bibendum ut justo. Maecenas commodo metus nec velit condimentum molestie. Etiam et neque risus. Curabitur malesuada in est eget vulputate. Fusce viverra euismod ligula, ut pretium mi faucibus non. Sed enim mauris, tempus sit amet magna eu, tincidunt pulvinar lacus.
</p>
{{else if eq .Lang 1}}

Bienvenido a <B>OSHIWASP</B> (<i>Open Source Hardware and Software Sensor Platform</i>). Esta plataforma 
te permitirá registrar valores físicos de experimentos de un laboratorio de Física, mediante sensores 
electrónicos. Los datos estarán a tu disposición en forma de archivos listos para cargar en tu hoja de 
cálculo preferida. En el menú encontrarás un botón de ayuda donde tienes información sobre cómo utilizar 
esta herramienta.

Esta plataforma contiene hardware y software desarrollado en el <a href="http://apprendiendofisica.blogspot.com.es/2014_07_01_archive.html">Grupo de Tecnología Innovación y Aprendizaje TIA</a> de la <a href="http://www.uva.es">Universidad de Valladolid</a>, y se encuentra a tu disposición bajo licencia open source en el repositorio git: <a href="https://github.com/percomp/OSHIWASP">https://github.com/percomp/OSHIWASP</a>.
{{ end }}

{{ end }}
