{{ define "content" }}
<div class="page-header">
   <h2>{{ .Title }}</h2>
</div>

{{ template "message" . }}

<div class="panel panel-default">
  <div class="panel-heading">
    {{if eq .Lang 0}}
    <h3 class="panel-title">Configuration: {{ .ConfigurationName}}</h3>
    {{else if eq .Lang 1}}
    <h3 class="panel-title">Configuración: {{ .ConfigurationName}}</h3>
    {{end}}
  </div>
  <div class="panel-body">
<div class="panel panel-default">
  <div class="panel-heading">
    {{if eq .Lang 0}}
    <h3 class="panel-title">Base Sensors</h3>
    {{else if eq .Lang 1}}
    <h3 class="panel-title">Sensores en la Base</h3>
    {{end}}
  </div>
  <div class="panel-body">
   <ul class="list-group">
   <li class="list-group-item">Tracker A:
      {{if eq .StateOfTrackerA 0}}
      <span class="glyphicon glyphicon-ban-circle"></span>
      {{else if eq .StateOfTrackerA 1}}
      <span class="glyphicon glyphicon-ok-circle"></span>
      {{else if eq .StateOfTrackerA 2}}
      <span class="glyphicon glyphicon-remove-circle"></span>
      {{end}}
   </li>
   <li class="list-group-item">Tracker B:
      {{if eq .StateOfTrackerB 0}}
      <span class="glyphicon glyphicon-ban-circle"></span>
      {{else if eq .StateOfTrackerB 1}}
      <span class="glyphicon glyphicon-ok-circle"></span>
      {{else if eq .StateOfTrackerB 2}}
      <span class="glyphicon glyphicon-remove-circle"></span>
      {{end}}
   </li>
   <li class="list-group-item">Tracker C:
      {{if eq .StateOfTrackerC 0}}
      <span class="glyphicon glyphicon-ban-circle"></span>
      {{else if eq .StateOfTrackerC 1}}
      <span class="glyphicon glyphicon-ok-circle"></span>
      {{else if eq .StateOfTrackerC 2}}
      <span class="glyphicon glyphicon-remove-circle"></span>
      {{end}}
   </li>
   <li class="list-group-item">Tracker D:
      {{if eq .StateOfTrackerD 0}}
      <span class="glyphicon glyphicon-ban-circle"></span>
      {{else if eq .StateOfTrackerD 1}}
      <span class="glyphicon glyphicon-ok-circle"></span>
      {{else if eq .StateOfTrackerD 2}}
      <span class="glyphicon glyphicon-remove-circle"></span>
      {{end}}
   </li>
</ul>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    {{if eq .Lang 0}}
    <h3 class="panel-title">Mobile Sensors</h3>
    {{else if eq .Lang 1}}
    <h3 class="panel-title">Sensores Móviles</h3>
    {{end}}
  </div>
  <div class="panel-body">
   <ul class="list-group">
   <li class="list-group-item">Tracker M:
      {{if eq .StateOfTrackerM 0}}
      <span class="glyphicon glyphicon-ban-circle"></span>
      {{else if eq .StateOfTrackerM 1}}
      <span class="glyphicon glyphicon-ok-circle"></span>
      {{else if eq .StateOfTrackerM 2}}
      <span class="glyphicon glyphicon-remove-circle"></span>
      {{end}}
   </li>
   {{if eq .Lang 0}}
   <li class="list-group-item">Distance:
   {{else if eq .Lang 1}}
   <li class="list-group-item">Distancia:
   {{end}}
      {{if eq .StateOfDistance 0}}
      <span class="glyphicon glyphicon-ban-circle"></span>
      {{else if eq .StateOfDistance 1}}
      <span class="glyphicon glyphicon-ok-circle"></span>
      {{else if eq .StateOfDistance 2}}
      <span class="glyphicon glyphicon-remove-circle"></span>
      {{end}}
   </li>
   {{if eq .Lang 0}}
   <li class="list-group-item">Accelerometer:
   {{else if eq .Lang 1}}
   <li class="list-group-item">Acelerómetro:
   {{end}}
      {{if eq .StateOfAccelerometer 0}}
      <span class="glyphicon glyphicon-ban-circle"></span>
      {{else if eq .StateOfAccelerometer 1}}
      <span class="glyphicon glyphicon-ok-circle"></span>
      {{else if eq .StateOfAccelerometer 2}}
      <span class="glyphicon glyphicon-remove-circle"></span>
      {{end}}
   </li>
   {{if eq .Lang 0}}
   <li class="list-group-item">Gyroscope:
   {{else if eq .Lang 1}}
   <li class="list-group-item">Giróscopo:
   {{end}}
      {{if eq .StateOfGyroscope 0}}
      <span class="glyphicon glyphicon-ban-circle"></span>
      {{else if eq .StateOfGyroscope 1}}
      <span class="glyphicon glyphicon-ok-circle"></span>
      {{else if eq .StateOfGyroscope 2}}
      <span class="glyphicon glyphicon-remove-circle"></span>
      {{end}}
   </li>
</ul>
  </div>
</div>
  </div>
</div>
  <br>
  {{if eq .Lang 0}}
  <ul>
     <li><a href="/run/">Run the experiment.</a></li>
  </ul>
  {{else if eq .Lang 1}}
  <ul>
     <li><a href="/run/">Ejecutar el experimento.</a></li>
  </ul>
  {{ end }}
{{ end }}
